<div class = "container">
  <div class = "row justify-content-center">
    <div class = "col-8">
      <h1>プロフィール</h1>
      <% @users.each do |user| %>
      
        <% if @user.image? %>
          <%= image_tag @user.image.thumb.url, class: "user-icon" %>
        <% else %>
          <%= image_tag "default.jpg", alt: "user-icon", size: "200", class: "user-icon" %>
        <% end %>
        <button type="button" class="btn btn-outline-secondary rounded-pill">
          <%= f.file_field :image, accept: 'image/jpeg,image/gif,image/png', class: "image-select-btn" %>
        </button>
        <%# <div><%= image_tag user.image.url, style: 'width: 400px; height: 240px', class: "user-icon" if user.image_url %>
        <ul class = "menu">
          <li>名前: <%= user.name %></li>
          <li>メールアドレス: <%= user.email %></li>
          <li>パスワード: <%= user.password_digest %></li>
        </ul>
        <ul class = "menu">
          <li><%= link_to user_path(user.id) do %>
              <span class="bi bi-eye-fill"></span><% end %>
          </li>
          <li><%= link_to edit_user_path(user.id), data: { confirm: '本当に編集していいですか' } do %>
              <span class="bi bi-pencil-square"></span><% end %>
          </li>
          <li><%= link_to user_path(user.id), method: :delete, data: { confirm: '本当に削除していいですか' } do %>
              <span class="bi bi-trash"></span><% end %>
          </li>
        </ul>
      </div>
    <% end %>
    <%= link_to '新しいのユーザ', new_user_path, class: "btn btn-success" %>
  </div>
</div>

